.codehilite .hll {
  background-color: #49483e;
}
.codehilite {
  background: #272822;
  color: #f8f8f2;
}
.codehilite .c {
  color: #75715e;
}
.codehilite .err {
  color: #960050;
  background-color: #1e0010;
}
.codehilite .k {
  color: #66d9ef;
}
.codehilite .l {
  color: #ae81ff;
}
.codehilite .n {
  color: #f8f8f2;
}
.codehilite .o {
  color: #f92672;
}
.codehilite .p {
  color: #f8f8f2;
}
.codehilite .ch,
.codehilite .cm,
.codehilite .cp,
.codehilite .cpf,
.codehilite .c1,
.codehilite .cs {
  color: #75715e;
}
.codehilite .gd {
  color: #f92672;
}
.codehilite .ge {
  font-style: italic;
}
.codehilite .gi {
  color: #a6e22e;
}
.codehilite .gs {
  font-weight: 700;
}
.codehilite .gu {
  color: #75715e;
}
.codehilite .kc,
.codehilite .kd {
  color: #66d9ef;
}
.codehilite .kn {
  color: #f92672;
}
.codehilite .kp,
.codehilite .kr,
.codehilite .kt {
  color: #66d9ef;
}
.codehilite .ld {
  color: #e6db74;
}
.codehilite .m {
  color: #ae81ff;
}
.codehilite .s {
  color: #e6db74;
}
.codehilite .na {
  color: #a6e22e;
}
.codehilite .nb {
  color: #f8f8f2;
}
.codehilite .nc {
  color: #a6e22e;
}
.codehilite .no {
  color: #66d9ef;
}
.codehilite .nd {
  color: #a6e22e;
}
.codehilite .ni {
  color: #f8f8f2;
}
.codehilite .ne,
.codehilite .nf {
  color: #a6e22e;
}
.codehilite .nl,
.codehilite .nn {
  color: #f8f8f2;
}
.codehilite .nx {
  color: #a6e22e;
}
.codehilite .py {
  color: #f8f8f2;
}
.codehilite .nt {
  color: #f92672;
}
.codehilite .nv {
  color: #f8f8f2;
}
.codehilite .ow {
  color: #f92672;
}
.codehilite .w {
  color: #f8f8f2;
}
.codehilite .mb,
.codehilite .mf,
.codehilite .mh,
.codehilite .mi,
.codehilite .mo {
  color: #ae81ff;
}
.codehilite .sa,
.codehilite .sb,
.codehilite .sc,
.codehilite .dl,
.codehilite .sd,
.codehilite .s2 {
  color: #e6db74;
}
.codehilite .se {
  color: #ae81ff;
}
.codehilite .sh,
.codehilite .si,
.codehilite .sx,
.codehilite .sr,
.codehilite .s1,
.codehilite .ss {
  color: #e6db74;
}
.codehilite .bp {
  color: #f8f8f2;
}
.codehilite .fm {
  color: #a6e22e;
}
.codehilite .vc,
.codehilite .vg,
.codehilite .vi,
.codehilite .vm {
  color: #f8f8f2;
}
.codehilite .il {
  color: #ae81ff;
}
.email-detail h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.email-detail h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.email-detail h3 {
  margin-bottom: 0;
}
.email-detail .description {
  margin-top: 0;
  font-weight: 400;
  font-size: 28px;
}
.email-detail img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.email-detail__header {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-bottom: 4em;
  border-bottom: 1px #ced3d9 solid;
}
.email-detail__header a {
  text-align: left;
}
.byline {
  text-align: left;
  font-weight: 300;
  margin-top: 0;
  font-size: 20px;
  color: #acb3be;
  text-transform: uppercase;
}
.email-detail__footer {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.email-detail__body--paywalled {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.nouveau-paywall {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nouveau-paywall > div:first-child {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.nouveau-paywall > div:nth-child(2) {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1em;
  color: #666;
}
.nouveau-paywall > div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}
.nouveau-paywall > div:last-child > div {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  background-color: #f0fdf4;
  border: 1px solid #22c55e;
  padding: 1em;
}
.nouveau-paywall svg {
  width: 24px;
  color: #22c55e;
}
.public-archive__header {
  text-align: center;
  margin-top: 2em;
}
.public-archive h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.public-archive h2 {
  margin-bottom: 0;
  font-size: 24px;
}
.public-archive img {
  max-width: 100%;
}
.public-archive img.newsletter-icon {
  max-width: 100px;
}
.email-list {
  margin-top: 6em;
}
.email-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e8a9a;
  border-top: 1px #ebedef solid;
  padding-top: 1em;
}
@media (max-width: 992px) {
  .email-metadata {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .email-metadata > div:first-child {
    margin-bottom: 10px;
  }
}
.email-metadata > div:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.email-metadata > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email-metadata > div:first-child div {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination {
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  padding: 15px;
  background: #ebedef;
}
.step-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step-links .current {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pagination svg,
.email-metadata svg {
  display: block;
  width: 24px;
  margin-right: 5px;
  margin-left: 5px;
}
.email-link {
  background: var(--tint-color);
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.email-link svg {
  margin-left: 5px;
  margin-right: 0;
}
.email {
  margin-bottom: 6em;
}
.email-teaser {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.comment--author {
  border-color: var(--tint-color);
}
.comment--author > .author-metadata a {
  color: var(--tint-color);
}
.commenter-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}
.commenter-metadata,
.author-metadata {
  font-size: 10px;
  font-family: var(--brand-font);
  font-weight: 600;
  text-transform: uppercase;
  color: #737373;
}
.commenter-metadata a,
.author-metadata a {
  color: #737373;
}
.comment {
  text-align: left !important;
  background-color: #d4d4d433;
  border: 1px var(--medium-color) solid;
  padding: 10px;
  margin-bottom: 10px;
}
.comment blockquote {
  margin: 0 0 10px;
  padding: 10px;
  font-size: inherit !important;
  line-height: inherit;
  font-family: inherit;
  border-left: 5px var(--medium-color) solid;
  background-color: #d4d4d466;
}
.comment p,
.comment li {
  font-size: inherit !important;
  line-height: inherit;
  font-family: inherit;
}
.comment p:last-child,
.comment li:last-child {
  margin-bottom: 0;
}
.comment .comment {
  margin-top: 10px;
}
.comment .comment:not(:last-child) {
  margin-bottom: 10px;
}
.comment:last-child {
  margin-bottom: 0;
}
.comment-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  font-size: 12px;
}
.comment-input textarea,
.comment-input input {
  width: 100%;
  border: 1px var(--medium-color) solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  padding: 10px;
  font-family: var(--brand-font);
  margin-bottom: 5px;
  margin-top: 0;
  display: block;
}
.comment-input textarea:-moz-read-only,
.comment-input input:-moz-read-only {
  background-color: var(--medium-color);
  color: var(--dark-color);
}
.comment-input textarea:read-only,
.comment-input input:read-only {
  background-color: var(--medium-color);
  color: var(--dark-color);
}
.comment-input textarea {
  height: 100px;
}
.comment-input button {
  width: 100%;
  border: none;
  background-color: #404040;
  color: #fff;
  font-family: var(--brand-font);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.comment-input button:hover {
  background-color: #202020;
}
.comment-input .error {
  color: red;
  background-color: #f002;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ff0000;
}
.related-emails-widget {
  border-top: 1px solid var(--medium-color);
}
.related-emails-widget .related-email-container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 600px) {
  .related-emails-widget .related-email-container {
    gap: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.related-emails-widget .related-email {
  margin-bottom: 1.25rem;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.related-emails-widget .related-email > a {
  text-decoration: none !important;
}
.related-emails-widget .related-email h4 {
  margin-top: 0;
  color: var(--dark-color) !important;
}
.related-emails-widget .related-email p {
  font-size: medium !important;
  color: var(--dark-color) !important;
}
.related-emails-widget .related-email:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.related-emails-widget .related-email:hover h4,
.related-emails-widget .related-email:hover p {
  color: var(--tint-color) !important;
}
.related-emails-widget .related-email-header-image {
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1rem;
}
#subscribe-form .widget,
#subscribe-form .share-form,
.subscribe-form .widget,
.subscribe-form .share-form {
  background-color: #f3f4f6;
}
#subscribe-form form,
.subscribe-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: .5rem;
}
#subscribe-form .heading:empty,
.subscribe-form .heading:empty {
  display: none;
}
#subscribe-form .field,
.subscribe-form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#subscribe-form input[type="email"],
#subscribe-form input[type="text"],
#subscribe-form select,
.subscribe-form input[type="email"],
.subscribe-form input[type="text"],
.subscribe-form select {
  padding: .5rem 1.25rem;
  color: #1f2937;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
}
#subscribe-form .button-container,
.subscribe-form .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  #subscribe-form .button-container,
  .subscribe-form .button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #subscribe-form .button-container > *:not(:first-child),
  .subscribe-form .button-container > *:not(:first-child) {
    margin-left: .5rem;
  }
}
#subscribe-form .unactivated-buttons,
.subscribe-form .unactivated-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  width: 100%;
}
#subscribe-form .unactivated-buttons > *,
.subscribe-form .unactivated-buttons > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(50% - .25rem);
  flex: 1 0 calc(50% - .25rem);
}
#subscribe-form .sr-only,
.subscribe-form .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
#subscribe-form sniper-link::part(container),
.subscribe-form sniper-link::part(container) {
  width: auto;
}
#subscribe-form sniper-link::part(button),
.subscribe-form sniper-link::part(button) {
  background-color: #d97706;
  border-radius: 9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
}
#subscribe-form sniper-link::part(image),
.subscribe-form sniper-link::part(image) {
  background-color: #fff;
  padding: 2px;
  border-radius: 8px;
}
#subscribe-form sniper-link::part(text),
.subscribe-form sniper-link::part(text) {
  color: #fff;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 550px) {
  #subscribe-form .unactivated-buttons,
  .subscribe-form .unactivated-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: .25rem;
  }
  #subscribe-form .unactivated-buttons > *,
  .subscribe-form .unactivated-buttons > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}
#subscribe-form [type="button"],
#subscribe-form [type="submit"],
.subscribe-form [type="button"],
.subscribe-form [type="submit"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1.25rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px #0000000d;
}
#subscribe-form [type="button"].pending,
#subscribe-form [type="submit"].pending,
.subscribe-form [type="button"].pending,
.subscribe-form [type="submit"].pending {
  opacity: 0.5;
}
#subscribe-form [type="button"].yellow,
#subscribe-form [type="submit"].yellow,
.subscribe-form [type="button"].yellow,
.subscribe-form [type="submit"].yellow {
  background-color: #d97706 !important;
}
#subscribe-form [type="button"].yellow:hover,
#subscribe-form [type="submit"].yellow:hover,
.subscribe-form [type="button"].yellow:hover,
.subscribe-form [type="submit"].yellow:hover {
  background-color: #b45309 !important;
}
#subscribe-form [type="button"].green,
#subscribe-form [type="submit"].green,
.subscribe-form [type="button"].green,
.subscribe-form [type="submit"].green {
  background-color: #059669 !important;
}
#subscribe-form [type="button"].green:hover,
#subscribe-form [type="submit"].green:hover,
.subscribe-form [type="button"].green:hover,
.subscribe-form [type="submit"].green:hover {
  background-color: #047857 !important;
}
#subscribe-form [type="button"].blue,
#subscribe-form [type="submit"].blue,
.subscribe-form [type="button"].blue,
.subscribe-form [type="submit"].blue {
  background-color: #2563eb;
}
#subscribe-form [type="button"].blue:hover,
#subscribe-form [type="submit"].blue:hover,
.subscribe-form [type="button"].blue:hover,
.subscribe-form [type="submit"].blue:hover {
  background-color: #1d4ed8;
}
#subscribe-form [type="button"].red,
#subscribe-form [type="submit"].red,
.subscribe-form [type="button"].red,
.subscribe-form [type="submit"].red {
  background-color: #dc2626 !important;
}
#subscribe-form [type="button"].red:hover,
#subscribe-form [type="submit"].red:hover,
.subscribe-form [type="button"].red:hover,
.subscribe-form [type="submit"].red:hover {
  background-color: #b91c1c !important;
}
#subscribe-form .disabled,
.subscribe-form .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
:root {
  --content-width: 600px;
  --white-color: #ffffff;
  --very-light-color: #f5f5f5;
  --medium-color: #d4d4d4;
  --dark-color: #404040;
}
html,
body {
  height: 100%;
}
a {
  color: var(--tint-color);
  text-decoration: underline;
}
body {
  color: #393f48;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, serif;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.newsletter-icon {
  max-width: 100px !important;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}
.email-detail .newsletter-icon {
  margin: 0;
}
.newsletter {
  text-align: center;
}
p,
label,
li {
  font-size: 1.45rem;
  line-height: 1.35;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 800;
  text-align: center;
}
h2 {
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: -1px;
  font-weight: 900;
  margin-bottom: .4em;
  margin-top: .75em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: .3em;
  margin-top: .5em;
}
h4 {
  font-size: 1.5em;
  line-height: 1.3;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul,
ol {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin-left: 1.7em;
  margin-top: 1em;
}
iframe.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.app-container {
  width: 720px;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@media (max-width: 600px) {
  p,
  label,
  li {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.4em;
  }
  .app-container {
    max-width: calc(100% - 2em);
  }
}
.codehilite {
  border-radius: 0 .25rem .25rem 0;
}
.codehilite pre {
  overflow-x: auto;
  padding: 1em;
  font-size: 15px;
  line-height: 20px;
}
.footer {
  font-size: 1em;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 2em;
  color: #7e8a9a;
}
input[type="submit"],
button,
.cta {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  transition: -webkit-box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  transition: box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  transition: box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s, -webkit-box-shadow
    1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  z-index: 1;
  opacity: 1;
  border: 1px var(--tint-color) solid;
  background: var(--tint-color);
  border-radius: 40px;
  padding: 8px 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #fff;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
input[type="submit"][disabled],
button[disabled],
.cta[disabled] {
  opacity: 0.5;
}
.widget,
.share-form {
  border: 1px #ced3d9 solid;
  -webkit-box-shadow: 5px 5px 7px #ced3d9;
  box-shadow: 5px 5px 7px #ced3d9;
  padding: 1em;
}
.widget svg,
.share-form svg {
  height: 24px;
}
.widget--takeover {
  position: fixed;
  top: 30%;
  left: 10%;
  right: 10%;
  background: #fff;
  text-align: center;
}
.widget ~ .widget,
.share-form ~ .widget,
.widget ~ .share-form,
.share-form ~ .share-form {
  margin-top: 1em;
}
.widget--attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.widget--attachment a {
  background-color: var(--tint-color);
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 3px 12px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 700;
}
.widget--attachment > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1rem;
}
.share-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}
.share-form a {
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: var(--tint-color);
}
figure {
  text-align: center;
}
blockquote {
  font-style: italic;
  background: #ebedef;
  padding: 1em;
  margin-left: 0;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote.tiktok-embed {
  font-style: normal;
  background: none;
  padding: 0;
}
.tinted {
  background: var(--tint-color) !important;
}
.tinted:hover {
  background: var(--tint-color) !important;
  opacity: 0.9;
}
.littlefoot__button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 0;
}
.littlefoot-footnote__content {
  word-break: break-word;
}
.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  font-family: var(--brand-font);
  gap: 1em;
}
@media (max-width: 720px) {
  .social-networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .social-networks > div:last-child {
    margin: 0 auto;
  }
}
.social-networks > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.social-networks a {
  display: block;
  min-width: 24px;
}
.social-networks svg {
  max-width: 20px;
  fill: var(--dark-color);
}
.social-networks svg:hover {
  fill: var(--tint-color);
}
.epilogue {
  padding-top: 4em;
  font-family: var(--brand-font);
  color: #525252 !important;
}
.epilogue > div:first-child {
  padding-bottom: 1em;
  text-align: center;
}
.related-emails-widget {
  margin-top: 2.5rem;
}
.related-emails-widget h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.related-emails-widget h4 {
  color: #525252 !important;
}
.related-emails-widget .related-email {
  text-align: left;
}
.related-emails-widget .related-email h4 {
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.response-freeform-label {
  margin-top: 64px;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 400;
}
.subscription-success .get-more {
  margin: 2rem 0;
  text-align: center;
}
.subscription-success .get-more h2 {
  font-size: .875rem;
  color: #666;
  margin-bottom: 1rem;
  letter-spacing: .01em;
}
.subscription-success .get-more .cta {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.subscription-success .cta {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: .5rem;
}
.subscription-success .cta svg {
  fill: currentColor;
}
