.codehilite .hll {
  background-color: #49483e;
}
.codehilite {
  background: #272822;
  color: #f8f8f2;
}
.codehilite .c {
  color: #75715e;
}
.codehilite .err {
  color: #960050;
  background-color: #1e0010;
}
.codehilite .k {
  color: #66d9ef;
}
.codehilite .l {
  color: #ae81ff;
}
.codehilite .n {
  color: #f8f8f2;
}
.codehilite .o {
  color: #f92672;
}
.codehilite .p {
  color: #f8f8f2;
}
.codehilite .ch,
.codehilite .cm,
.codehilite .cp,
.codehilite .cpf,
.codehilite .c1,
.codehilite .cs {
  color: #75715e;
}
.codehilite .gd {
  color: #f92672;
}
.codehilite .ge {
  font-style: italic;
}
.codehilite .gi {
  color: #a6e22e;
}
.codehilite .gs {
  font-weight: 700;
}
.codehilite .gu {
  color: #75715e;
}
.codehilite .kc,
.codehilite .kd {
  color: #66d9ef;
}
.codehilite .kn {
  color: #f92672;
}
.codehilite .kp,
.codehilite .kr,
.codehilite .kt {
  color: #66d9ef;
}
.codehilite .ld {
  color: #e6db74;
}
.codehilite .m {
  color: #ae81ff;
}
.codehilite .s {
  color: #e6db74;
}
.codehilite .na {
  color: #a6e22e;
}
.codehilite .nb {
  color: #f8f8f2;
}
.codehilite .nc {
  color: #a6e22e;
}
.codehilite .no {
  color: #66d9ef;
}
.codehilite .nd {
  color: #a6e22e;
}
.codehilite .ni {
  color: #f8f8f2;
}
.codehilite .ne,
.codehilite .nf {
  color: #a6e22e;
}
.codehilite .nl,
.codehilite .nn {
  color: #f8f8f2;
}
.codehilite .nx {
  color: #a6e22e;
}
.codehilite .py {
  color: #f8f8f2;
}
.codehilite .nt {
  color: #f92672;
}
.codehilite .nv {
  color: #f8f8f2;
}
.codehilite .ow {
  color: #f92672;
}
.codehilite .w {
  color: #f8f8f2;
}
.codehilite .mb,
.codehilite .mf,
.codehilite .mh,
.codehilite .mi,
.codehilite .mo {
  color: #ae81ff;
}
.codehilite .sa,
.codehilite .sb,
.codehilite .sc,
.codehilite .dl,
.codehilite .sd,
.codehilite .s2 {
  color: #e6db74;
}
.codehilite .se {
  color: #ae81ff;
}
.codehilite .sh,
.codehilite .si,
.codehilite .sx,
.codehilite .sr,
.codehilite .s1,
.codehilite .ss {
  color: #e6db74;
}
.codehilite .bp {
  color: #f8f8f2;
}
.codehilite .fm {
  color: #a6e22e;
}
.codehilite .vc,
.codehilite .vg,
.codehilite .vi,
.codehilite .vm {
  color: #f8f8f2;
}
.codehilite .il {
  color: #ae81ff;
}
.noty_layout_mixin,
#noty_layout__top,
#noty_layout__topLeft,
#noty_layout__topCenter,
#noty_layout__topRight,
#noty_layout__bottom,
#noty_layout__bottomLeft,
#noty_layout__bottomCenter,
#noty_layout__bottomRight,
#noty_layout__center,
#noty_layout__centerLeft,
#noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}
#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}
#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}
#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1);
}
#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}
#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}
#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}
#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - 0.5px)) translateZ(0) scale(1);
}
#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}
#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px))
    translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - 0.5px), calc(-50% - 0.5px)) translateZ(0)
    scale(1);
}
#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
  transform: translateY(calc(-50% - 0.5px)) translateZ(0) scale(1);
}
#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - 0.5px)) translateZ(0) scale(1, 1);
  transform: translateY(calc(-50% - 0.5px)) translateZ(0) scale(1);
}
.noty_progressbar {
  display: none;
}
.noty_has_timeout .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}
.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  transform: translate(0) scale(1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}
.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translateY(-50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out;
}
.noty_close_with_click {
  cursor: pointer;
}
.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #0000000d;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.noty_close_button:hover {
  background-color: #0000001a;
}
.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}
.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in 0.3s ease-out;
  animation: noty_modal_in 0.3s ease-out;
}
.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out 0.3s ease-out;
  animation: noty_modal_out 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes noty_modal_in {
  to {
    opacity: 0.3;
  }
}
@keyframes noty_modal_in {
  to {
    opacity: 0.3;
  }
}
@-webkit-keyframes noty_modal_out {
  to {
    opacity: 0;
  }
}
@keyframes noty_modal_out {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_in {
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes noty_anim_in {
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
  }
}
@-webkit-keyframes noty_anim_out {
  to {
    -webkit-transform: translate(0, -50%);
    transform: translateY(-50%);
    opacity: 0;
  }
}
@keyframes noty_anim_out {
  to {
    -webkit-transform: translate(0, -50%);
    transform: translateY(-50%);
    opacity: 0;
  }
}
@-webkit-keyframes noty_anim_height {
  to {
    height: 0;
  }
}
@keyframes noty_anim_height {
  to {
    height: 0;
  }
}
.noty_theme__relax.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__relax.noty_bar .noty_body {
  padding: 10px;
}
.noty_theme__relax.noty_bar .noty_buttons {
  border-top: 1px solid #e7e7e7;
  padding: 5px 10px;
}
.noty_theme__relax.noty_type__alert,
.noty_theme__relax.noty_type__notification {
  background-color: #fff;
  border: 1px solid #dedede;
  color: #444;
}
.noty_theme__relax.noty_type__warning {
  background-color: #ffeaa8;
  border: 1px solid #ffc237;
  color: #826200;
}
.noty_theme__relax.noty_type__warning .noty_buttons {
  border-color: #dfaa30;
}
.noty_theme__relax.noty_type__error {
  background-color: #ff8181;
  border: 1px solid #e25353;
  color: #fff;
}
.noty_theme__relax.noty_type__error .noty_buttons {
  border-color: #8b0000;
}
.noty_theme__relax.noty_type__info,
.noty_theme__relax.noty_type__information {
  background-color: #78c5e7;
  border: 1px solid #3badd6;
  color: #fff;
}
.noty_theme__relax.noty_type__info .noty_buttons,
.noty_theme__relax.noty_type__information .noty_buttons {
  border-color: #0b90c4;
}
.noty_theme__relax.noty_type__success {
  background-color: #bcf5bc;
  border: 1px solid #7cdd77;
  color: #006400;
}
.noty_theme__relax.noty_type__success .noty_buttons {
  border-color: #50c24e;
}
.noty_theme__metroui.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0 0 5px 0;
  box-shadow: #0000004c 0 0 5px;
}
.noty_theme__metroui.noty_bar .noty_progressbar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.noty_theme__metroui.noty_bar .noty_body {
  padding: 1.25em;
  font-size: 14px;
}
.noty_theme__metroui.noty_bar .noty_buttons {
  padding: 0 10px 0.5em;
}
.noty_theme__metroui.noty_type__alert,
.noty_theme__metroui.noty_type__notification {
  background-color: #fff;
  color: #1d1d1d;
}
.noty_theme__metroui.noty_type__warning {
  background-color: #fa6800;
  color: #fff;
}
.noty_theme__metroui.noty_type__error {
  background-color: #ce352c;
  color: #fff;
}
.noty_theme__metroui.noty_type__info,
.noty_theme__metroui.noty_type__information {
  background-color: #1ba1e2;
  color: #fff;
}
.noty_theme__metroui.noty_type__success {
  background-color: #60a917;
  color: #fff;
}
.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
}
.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #d1d1d1;
  color: #2f2f2f;
}
.noty_theme__mint.noty_type__warning {
  background-color: #ffae42;
  border-bottom: 1px solid #e89f3c;
  color: #fff;
}
.noty_theme__mint.noty_type__error {
  background-color: #de636f;
  border-bottom: 1px solid #ca5a65;
  color: #fff;
}
.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7f7eff;
  border-bottom: 1px solid #7473e8;
  color: #fff;
}
.noty_theme__mint.noty_type__success {
  background-color: #afc765;
  border-bottom: 1px solid #a0b55c;
  color: #fff;
}
.noty_theme__sunset.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.noty_theme__sunset.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.noty_theme__sunset.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_theme__sunset.noty_type__alert,
.noty_theme__sunset.noty_type__notification {
  background-color: #073b4c;
  color: #fff;
}
.noty_theme__sunset.noty_type__alert .noty_progressbar,
.noty_theme__sunset.noty_type__notification .noty_progressbar {
  background-color: #fff;
}
.noty_theme__sunset.noty_type__warning {
  background-color: #ffd166;
  color: #fff;
}
.noty_theme__sunset.noty_type__error {
  background-color: #ef476f;
  color: #fff;
}
.noty_theme__sunset.noty_type__error .noty_progressbar {
  opacity: 0.4;
}
.noty_theme__sunset.noty_type__info,
.noty_theme__sunset.noty_type__information {
  background-color: #118ab2;
  color: #fff;
}
.noty_theme__sunset.noty_type__info .noty_progressbar,
.noty_theme__sunset.noty_type__information .noty_progressbar {
  opacity: 0.6;
}
.noty_theme__sunset.noty_type__success {
  background-color: #06d6a0;
  color: #fff;
}
.noty_theme__bootstrap-v3.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
}
.noty_theme__bootstrap-v3.noty_bar .noty_body {
  padding: 15px;
}
.noty_theme__bootstrap-v3.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_theme__bootstrap-v3.noty_bar .noty_close_button {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
  background: transparent;
}
.noty_theme__bootstrap-v3.noty_bar .noty_close_button:hover {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.noty_theme__bootstrap-v3.noty_type__alert,
.noty_theme__bootstrap-v3.noty_type__notification {
  background-color: #fff;
  color: inherit;
}
.noty_theme__bootstrap-v3.noty_type__warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border-color: #faebcc;
}
.noty_theme__bootstrap-v3.noty_type__error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.noty_theme__bootstrap-v3.noty_type__info,
.noty_theme__bootstrap-v3.noty_type__information {
  background-color: #d9edf7;
  color: #31708f;
  border-color: #bce8f1;
}
.noty_theme__bootstrap-v3.noty_type__success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}
.noty_theme__bootstrap-v4.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.noty_theme__bootstrap-v4.noty_bar .noty_body {
  padding: 0.75rem 1.25rem;
}
.noty_theme__bootstrap-v4.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_theme__bootstrap-v4.noty_bar .noty_close_button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.5;
  background: transparent;
}
.noty_theme__bootstrap-v4.noty_bar .noty_close_button:hover {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.75;
}
.noty_theme__bootstrap-v4.noty_type__alert,
.noty_theme__bootstrap-v4.noty_type__notification {
  background-color: #fff;
  color: inherit;
}
.noty_theme__bootstrap-v4.noty_type__warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border-color: #faebcc;
}
.noty_theme__bootstrap-v4.noty_type__error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.noty_theme__bootstrap-v4.noty_type__info,
.noty_theme__bootstrap-v4.noty_type__information {
  background-color: #d9edf7;
  color: #31708f;
  border-color: #bce8f1;
}
.noty_theme__bootstrap-v4.noty_type__success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}
.noty_theme__semanticui.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  font-size: 1em;
  border-radius: 0.28571429rem;
  -webkit-box-shadow:
    0 0 0 1px rgba(34, 36, 38, 0.22) inset,
    0 0 0 0 transparent;
  box-shadow:
    0 0 0 1px #22242638 inset,
    0 0 0 0 transparent;
}
.noty_theme__semanticui.noty_bar .noty_body {
  padding: 1em 1.5em;
  line-height: 1.4285em;
}
.noty_theme__semanticui.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_theme__semanticui.noty_type__alert,
.noty_theme__semanticui.noty_type__notification {
  background-color: #f8f8f9;
  color: #000000de;
}
.noty_theme__semanticui.noty_type__warning {
  background-color: #fffaf3;
  color: #573a08;
  -webkit-box-shadow:
    0 0 0 1px #c9ba9b inset,
    0 0 0 0 transparent;
  box-shadow:
    0 0 0 1px #c9ba9b inset,
    0 0 0 0 transparent;
}
.noty_theme__semanticui.noty_type__error {
  background-color: #fff6f6;
  color: #9f3a38;
  -webkit-box-shadow:
    0 0 0 1px #e0b4b4 inset,
    0 0 0 0 transparent;
  box-shadow:
    0 0 0 1px #e0b4b4 inset,
    0 0 0 0 transparent;
}
.noty_theme__semanticui.noty_type__info,
.noty_theme__semanticui.noty_type__information {
  background-color: #f8ffff;
  color: #276f86;
  -webkit-box-shadow:
    0 0 0 1px #a9d5de inset,
    0 0 0 0 transparent;
  box-shadow:
    0 0 0 1px #a9d5de inset,
    0 0 0 0 transparent;
}
.noty_theme__semanticui.noty_type__success {
  background-color: #fcfff5;
  color: #2c662d;
  -webkit-box-shadow:
    0 0 0 1px #a3c293 inset,
    0 0 0 0 transparent;
  box-shadow:
    0 0 0 1px #a3c293 inset,
    0 0 0 0 transparent;
}
.noty_theme__nest.noty_bar {
  margin: 0 0 15px;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.098039) 5px 4px 10px 0;
  box-shadow: #00000019 5px 4px 10px;
}
.noty_theme__nest.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.noty_theme__nest.noty_bar .noty_buttons {
  padding: 10px;
}
.noty_layout .noty_theme__nest.noty_bar {
  z-index: 5;
}
.noty_layout .noty_theme__nest.noty_bar:nth-child(2) {
  position: absolute;
  top: 0;
  margin-top: 4px;
  margin-right: -4px;
  margin-left: 4px;
  z-index: 4;
  width: 100%;
}
.noty_layout .noty_theme__nest.noty_bar:nth-child(3) {
  position: absolute;
  top: 0;
  margin-top: 8px;
  margin-right: -8px;
  margin-left: 8px;
  z-index: 3;
  width: 100%;
}
.noty_layout .noty_theme__nest.noty_bar:nth-child(4) {
  position: absolute;
  top: 0;
  margin-top: 12px;
  margin-right: -12px;
  margin-left: 12px;
  z-index: 2;
  width: 100%;
}
.noty_layout .noty_theme__nest.noty_bar:nth-child(5) {
  position: absolute;
  top: 0;
  margin-top: 16px;
  margin-right: -16px;
  margin-left: 16px;
  z-index: 1;
  width: 100%;
}
.noty_layout .noty_theme__nest.noty_bar:nth-child(n + 6) {
  position: absolute;
  top: 0;
  margin-top: 20px;
  margin-right: -20px;
  margin-left: 20px;
  z-index: -1;
  width: 100%;
}
#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(2),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(2) {
  margin-top: 4px;
  margin-left: -4px;
  margin-right: 4px;
}
#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(3),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(3) {
  margin-top: 8px;
  margin-left: -8px;
  margin-right: 8px;
}
#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(4),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(4) {
  margin-top: 12px;
  margin-left: -12px;
  margin-right: 12px;
}
#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(5),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(5) {
  margin-top: 16px;
  margin-left: -16px;
  margin-right: 16px;
}
#noty_layout__bottomLeft .noty_theme__nest.noty_bar:nth-child(n + 6),
#noty_layout__topLeft .noty_theme__nest.noty_bar:nth-child(n + 6) {
  margin-top: 20px;
  margin-left: -20px;
  margin-right: 20px;
}
.noty_theme__nest.noty_type__alert,
.noty_theme__nest.noty_type__notification {
  background-color: #073b4c;
  color: #fff;
}
.noty_theme__nest.noty_type__alert .noty_progressbar,
.noty_theme__nest.noty_type__notification .noty_progressbar {
  background-color: #fff;
}
.noty_theme__nest.noty_type__warning {
  background-color: #ffd166;
  color: #fff;
}
.noty_theme__nest.noty_type__error {
  background-color: #ef476f;
  color: #fff;
}
.noty_theme__nest.noty_type__error .noty_progressbar {
  opacity: 0.4;
}
.noty_theme__nest.noty_type__info,
.noty_theme__nest.noty_type__information {
  background-color: #118ab2;
  color: #fff;
}
.noty_theme__nest.noty_type__info .noty_progressbar,
.noty_theme__nest.noty_type__information .noty_progressbar {
  opacity: 0.6;
}
.noty_theme__nest.noty_type__success {
  background-color: #06d6a0;
  color: #fff;
}
.email-detail h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.email-detail h2,
.email-detail h3 {
  margin-bottom: 0;
}
.email-detail .description {
  margin-top: 0;
  font-weight: 400;
  font-size: 28px;
}
.email-detail img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.email-detail__header {
  margin-top: 2em;
  margin-bottom: 4em;
  padding-bottom: 4em;
  border-bottom: 1px #ced3d9 solid;
}
.email-detail__header a {
  text-align: left;
}
.byline {
  text-align: left;
  font-weight: 300;
  margin-top: 0;
  font-size: 20px;
  color: #acb3be;
  text-transform: uppercase;
}
.email-detail__footer {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.email-detail__body--paywalled {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
.nouveau-paywall {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nouveau-paywall > div:first-child {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.nouveau-paywall > div:nth-child(2) {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1em;
  color: #666;
}
.nouveau-paywall > div:last-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}
.nouveau-paywall > div:last-child > div {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  background-color: #f0fdf4;
  border: 1px solid #22c55e;
  padding: 1em;
}
.nouveau-paywall svg {
  width: 24px;
  color: #22c55e;
}
.public-archive__header {
  text-align: center;
  margin-top: 2em;
}
.public-archive h1 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.public-archive h2 {
  margin-bottom: 0;
  font-size: 24px;
}
.public-archive img {
  max-width: 100%;
}
.public-archive img.newsletter-icon {
  max-width: 100px;
}
.email-list {
  margin-top: 6em;
}
.email-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7e8a9a;
  border-top: 1px #ebedef solid;
  padding-top: 1em;
}
@media (max-width: 992px) {
  .email-metadata {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .email-metadata > div:first-child {
    margin-bottom: 10px;
  }
}
.email-metadata > div:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.email-metadata > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.email-metadata > div:first-child div {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination {
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  padding: 15px;
  background: #ebedef;
}
.step-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.step-links .current {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pagination svg,
.email-metadata svg {
  display: block;
  width: 24px;
  margin-right: 5px;
  margin-left: 5px;
}
.email-link {
  background: var(--tint-color);
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.email-link svg {
  margin-left: 5px;
  margin-right: 0;
}
.email {
  margin-bottom: 6em;
}
.email-teaser {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, black),
    to(transparent)
  );
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
:root {
  --content-width: 600px;
  --white-color: #ffffff;
  --very-light-color: #f5f5f5;
  --medium-color: #d4d4d4;
  --dark-color: #404040;
}
html,
body {
  height: 100%;
}
a {
  color: var(--tint-color);
  text-decoration: underline;
}
body {
  color: #393f48;
  margin: 0;
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Ubuntu,
    serif;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.newsletter-icon {
  max-width: 100px !important;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}
.email-detail .newsletter-icon {
  margin: 0;
}
.newsletter {
  text-align: center;
}
p,
label,
li {
  font-size: 1.45rem;
  line-height: 1.35;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 800;
  text-align: center;
}
h2 {
  font-size: 2em;
  line-height: 1.4;
  letter-spacing: -1px;
  font-weight: 900;
  margin-bottom: 0.4em;
  margin-top: 0.75em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}
h4 {
  font-size: 1.5em;
  line-height: 1.3;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul,
ol {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  margin-left: 1.7em;
  margin-top: 1em;
}
iframe.youtube {
  width: 100%;
  aspect-ratio: 16/9;
}
.app-container {
  width: 720px;
  max-width: calc(100% - 4em);
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@media (max-width: 600px) {
  p,
  label,
  li {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.4em;
  }
  .app-container {
    max-width: calc(100% - 2em);
  }
}
.codehilite {
  border-radius: 0 0.25rem 0.25rem 0;
}
.codehilite pre {
  overflow-x: auto;
  padding: 1em;
  font-size: 15px;
  line-height: 20px;
}
.footer {
  font-size: 1em;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 2em;
  color: #7e8a9a;
}
input[type="submit"],
button,
.cta {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  transition: -webkit-box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  transition: box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  transition:
    box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s,
    -webkit-box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  z-index: 1;
  opacity: 1;
  border: 1px var(--tint-color) solid;
  background: var(--tint-color);
  border-radius: 40px;
  padding: 8px 16px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #fff;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
input[type="submit"][disabled],
button[disabled],
.cta[disabled] {
  opacity: 0.5;
}
.widget,
.share-form {
  border: 1px #ced3d9 solid;
  -webkit-box-shadow: 5px 5px 7px #ced3d9;
  box-shadow: 5px 5px 7px #ced3d9;
  padding: 1em;
}
.widget svg,
.share-form svg {
  height: 24px;
}
.widget--takeover {
  position: fixed;
  top: 30%;
  left: 10%;
  right: 10%;
  background: #fff;
  text-align: center;
}
.widget ~ .widget,
.share-form ~ .widget,
.widget ~ .share-form,
.share-form ~ .share-form {
  margin-top: 1em;
}
.widget--attachment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.widget--attachment a {
  background-color: var(--tint-color);
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 3px 12px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 700;
}
.widget--attachment > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1rem;
}
.share-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}
.share-form a {
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: var(--tint-color);
}
figure {
  text-align: center;
}
blockquote {
  font-style: italic;
  background: #ebedef;
  padding: 1em;
  margin-left: 0;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote.tiktok-embed {
  font-style: normal;
  background: none;
  padding: 0;
}
.tinted {
  background: var(--tint-color) !important;
}
.tinted:hover {
  background: var(--tint-color) !important;
  opacity: 0.9;
}
.littlefoot__button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 0;
}
.littlefoot-footnote__content {
  word-break: break-word;
}
.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  font-family: var(--brand-font);
  gap: 1em;
}
@media (max-width: 720px) {
  .social-networks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .social-networks > div:last-child {
    margin: 0 auto;
  }
}
.social-networks > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.social-networks a {
  display: block;
  min-width: 24px;
}
.social-networks svg {
  max-width: 20px;
  fill: var(--dark-color);
}
.social-networks svg:hover {
  fill: var(--tint-color);
}
.epilogue {
  padding-top: 4em;
  font-family: var(--brand-font);
  color: #525252 !important;
}
.epilogue > div:first-child {
  padding-bottom: 1em;
  text-align: center;
}
.comment-input textarea,
.comment-input input {
  width: 100%;
  border: 1px var(--medium-color) solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
  padding: 10px;
  font-family: var(--brand-font);
  margin-bottom: 5px;
  margin-top: 0;
  display: block;
}
.comment-input textarea:-moz-read-only,
.comment-input input:-moz-read-only {
  background-color: var(--medium-color);
  color: var(--dark-color);
}
.comment-input textarea:read-only,
.comment-input input:read-only {
  background-color: var(--medium-color);
  color: var(--dark-color);
}
.comment-input textarea {
  height: 100px;
}
.comment-input button {
  width: 100%;
  border: none;
  background-color: #404040;
  color: #fff;
  font-family: var(--brand-font);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.response-freeform-label {
  margin-top: 64px;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 400;
}
