p,
div,
ul,
li {
  max-width: 600px;
  line-height: 1.4em;
  font-size: 16px;
}
hr {
  border: 0;
  border-bottom: 1px #808080 dotted;
  max-width: 600px;
  margin-left: 0;
}
h4 {
  font-size: 14px;
}
h3 {
  font-size: 16px;
}
h2 {
  font-size: 18px;
}
h1 {
  font-size: 20px;
}
img {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
blockquote {
  border-left: 4px solid #acb3be;
  color: #7e8a9a;
  margin-left: 0;
  padding-left: 1em;
}
figure {
  text-align: center;
}
figcaption {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  color: #7e7e82;
  margin-bottom: 30px;
}
.newsletter-notice {
  background-color: #d9edf7;
  color: #31708f;
  border-radius: 5px;
  text-align: center;
  padding: 20px 30px;
}
.video {
  position: relative;
  display: block;
  margin: 16px 0 !important;
}
.video:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  z-index: 10;
}
pre {
  border-radius: 0 0.25rem 0.25rem 0;
  overflow-x: auto;
  padding: 1em;
  font-size: 15px;
  line-height: 20px;
  background-color: #272822;
}
pre.poetry {
  background-color: #f8f8f8;
  color: #333;
  padding: 1em;
  border-radius: 0.25rem;
  white-space: pre-wrap;
}
code {
  border-radius: 0 0.25rem 0.25rem 0;
  font-size: 14px;
  color: #fff;
}
p code,
li code,
h1 code,
h2 code,
h3 code,
h4 code {
  background: #eee;
  color: #333;
}
@media (prefers-color-scheme: dark) {
  code {
    background: #44494e;
  }
}
.buttondown-reference-invalid {
  color: #666 !important;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
.bluesky-embed {
  background: #fff !important;
  color: #1c2022 !important;
  border: 1px solid #eaeaea;
  padding: 0;
  overflow: hidden;
}
.bluesky-embed .media,
.bluesky-embed .media-image {
  display: block;
}
.bluesky-embed .media-image {
  width: 100%;
}
.bluesky-embed .header {
  padding: 12px 16px;
}
.bluesky-embed .author-link {
  color: inherit !important;
  text-decoration: none;
}
.bluesky-embed .display-name,
.bluesky-embed .handle {
  font-size: 14px !important;
  line-height: 20px !important;
  margin: 0 !important;
}
.bluesky-embed .display-name {
  font-weight: 700;
}
.bluesky-embed .handle {
  color: #697882 !important;
}
.bluesky-embed .body {
  padding: 0 16px 12px;
}
.bluesky-embed .text {
  margin: 0 0 12px !important;
}
.bluesky-embed .date {
  color: #697882 !important;
  font-size: 14px !important;
  line-height: 20px;
  text-decoration: none !important;
}
img[goomoji] {
  width: 24px !important;
}
.twitter-embed {
  background: #fff !important;
  color: #1c2022 !important;
  border: 1px solid #eaeaea;
  padding: 0;
  overflow: hidden;
}
.twitter-embed .media,
.twitter-embed .media-image {
  display: block;
}
.twitter-embed .media-image {
  width: 100%;
}
.twitter-embed .header {
  padding: 12px 16px;
}
.twitter-embed .avatar-image {
  float: left;
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 12px !important;
  border-radius: 9999px;
}
.twitter-embed .author-link {
  color: inherit !important;
  text-decoration: none;
}
.twitter-embed .display-name,
.twitter-embed .handle {
  font-size: 14px !important;
  line-height: 20px !important;
  margin: 0 !important;
}
.twitter-embed .display-name {
  font-weight: 700;
}
.twitter-embed .handle {
  color: #697882 !important;
}
.twitter-embed .body {
  padding: 0 16px 12px;
}
.twitter-embed .text {
  margin: 0 0 12px !important;
}
.twitter-embed .date {
  color: #697882 !important;
  font-size: 14px !important;
  line-height: 20px;
  text-decoration: none !important;
  display: block;
  margin: 12px 0 0;
}
.instagram {
  position: relative;
  color: #fff !important;
  border: 1px solid #ebedef;
  border-radius: 8px;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.instagram__header {
  padding: 7px 7px 7px 14px;
  height: 30px;
  line-height: 30px;
}
.instagram__header a {
  color: #000 !important;
}
.instagram__author-image {
  display: inline-block;
  margin-right: 10px;
}
.instagram__author-image img {
  display: inline-block;
  height: 30px;
  width: 30px !important;
  border-radius: 15px;
}
.instagram__author-name {
  vertical-align: top;
  font-weight: 600;
  text-decoration: none;
}
.instagram__footer {
  padding: 14px;
}
.instagram__caption {
  line-height: 18px;
}
