{
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier",
    "unused-imports",
    "simple-import-sort"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unused-imports/no-unused-imports": "error",
    "@next/next/no-page-custom-font": "ignore"
  }
}