@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    Hex Franklin, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-buttondown: #0069ff;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: "Hex Franklin";
  src: url("https://d33wubrfki0l68.cloudfront.net/409516e806160febfc4d1d7902107ae378404d3f/fd4dc/fonts/hex-franklin/hex-franklin-0.2.woff2")
    format("woff2");
  font-weight: 1 999;
  font-stretch: 0% 100%;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Necessary for the notation diff transformer */
code .diff {
    transition: background-color .5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 48px);
    display: inline-block
}

code .diff:before {
    position: absolute;
    left: 10px
}

code .diff.remove {
    background-color: rgba(244, 63, 94, 0.5);
    opacity: .7;
}


code .diff.add {
    background-color: rgba(16, 185, 129, 0.5);
    opacity: .9;
}

.flowchart .node rect:not([ry]),
.entityBox,
.attributeBoxOdd {
  fill: white !important;
  stroke: oklch(0.707 0.022 261.325) !important;
  @apply shadow-lg;
}

.flowchart .node rect[ry] {
  @apply fill-gray-200! stroke-gray-400! text-xs!;
}

.flowchart .node rect[ry] ~ g .nodeLabel p {
  @apply text-xs!;
}

.flowchart .node rect[ry] ~ g div {
  @apply max-w-none! w-full! mt-[2px]! block!;
}



.nodeLabel p,
.entityLabel {
  font-family: "Hex Franklin" !important;
  @apply text-sm whitespace-nowrap;
}

.edgeLabel p {
  @apply text-xs whitespace-nowrap;
  background-color: #f9fafb !important;
}

pre.mermaid {
  @apply m-0 bg-gray-100 border border-gray-200 rounded-md p-4 w-full flex items-center justify-center;
}

.clickable path,
.clickable.node rect[ry] {
  transition: fill 0.1s ease-in-out, text 0.1s ease-in-out, stroke 0.1s ease-in-out;
  @apply fill-blue-100! text-blue-600! stroke-blue-600!;
}

.clickable:hover path,
.clickable:hover.node rect[ry] {
  @apply fill-blue-200! text-blue-700! stroke-blue-700! shadow-xs!;
}

.cluster rect {
  @apply fill-white! stroke-gray-400!;
}