@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hex Franklin";
  src: url("https://d33wubrfki0l68.cloudfront.net/409516e806160febfc4d1d7902107ae378404d3f/fd4dc/fonts/hex-franklin/hex-franklin-0.2.woff2")
    format("woff2");
  font-weight: 1 999;
  font-stretch: 0% 100%;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Necessary for the notation diff transformer */
code .diff {
    transition: background-color .5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 48px);
    display: inline-block
}

code .diff:before {
    position: absolute;
    left: 10px
}

code .diff.remove {
    background-color: rgba(244, 63, 94, 0.5);
    opacity: .7;
}


code .diff.add {
    background-color: rgba(16, 185, 129, 0.5);
    opacity: .9;
}
