@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: #333;
  color: #fff;
  font-size: 18px;
  padding: 2px;
  border-radius: 2px;
}

pre {
  background: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  list-style-type: circle;
  padding-left: 30px;
}

li {
  font-size: 18px;
}
